/* Main Container Styling */
#main-class {
    width: 80%;
    margin: auto;
    height: 250px;
    justify-self: center;
    background-color: #eaeaea;
}

/* Tab Content Container Styling */
.tab-content {
    width: 300px;
    margin: auto;
    justify-self: center;
    background-color: #eb8a8a;
    color: white;
    border-radius: 20px;
}

.tab-pane {
    padding: 5%;
}

/* Input Field Styling */
.tab-content input {
    border-radius: 20px;
}

/* Navigation Pills Container */
#pills-tab {
    justify-content: space-around;
    width: 300px;
    margin: auto;
}

/* Navigation Item Styling */
#pills-tab .nav-item {
    width: 100px;
}

#pills-tab .nav-item button {
    border-radius: 20px;
}

/* Navigation Links - Default State. // Bttn Login i Register */
.nav-pills .nav-link {
    background-color: #eaeaea;
    width: 100px;
    color: #a94c4c;
    padding: 5px;
}

/* Navigation Links - Hover State */
.nav-pills .nav-link:hover {
    color: #a94c4c;
    padding: 5px;
    /* Highlight effect */
    box-shadow: 0px 0px 10px #ffffff;
}

/* Navigation Links - Active State */
.nav-pills .nav-link.active {
    color: white;
    --bs-nav-pills-link-active-bg: #a94c4c;
    --bs-nav-pills-border-radius: var(--bs-border-radius);
}

/* Button Styling */
#but1, #but2 {
    border-style: unset;
    background-color: #a94c4c;
    border-radius: 20px;
}

/* Screen Element */
.screen {
    height: 10vh;
}

/* Sign-in Form Styling */
.sign-in-form {
    background-color: #662222;
    width: 100%;
    height: 100vh;
}