


.form-label{
    font-family: "Lobster", sans-serif;
    color: #eaeaea;
}

.tab-pane{
    padding: 5%;
}

.tab-content {
    width: 450px;
    margin: auto;
    justify-self: center;
    background-color: #486550;
    color: white;
    border-radius: 20px;
}

.tab-content input {
    border-radius: 20px;
}

#pills-tab{
    justify-content: space-around;
    width: 300px;
    margin: auto;
    /*
    //background-color: #eaeaea;
    */
}

#pills-tab .nav-item{
    width: 100px;


    /*// background-color: #6ade95;
    //  border-style: solid;*/
}

#pills-tab .nav-item button{
    border-radius: 20px;

    /*
    // background-color: #dea954;
    */
}

/*body{
    background-color: #eaeaea;
}*/

.nav-pills .nav-link{
    background-color: #eaeaea;
    width: 100px;
    /*color: #c13584;*/
    color: #486550;
    border-style: solid;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.nav-pills .nav-link:hover{
    color: #eaeaea;
    background-color: #87978B;
    /* Higlight */
    /*border: 1px solid #fff;*/

}

.nav-pills .nav-link.active{
    color: white;
    --bs-nav-pills-link-active-bg: #486550;
    box-shadow: 0 10px 30px rgba(72, 101, 80, 0.4);
    --bs-nav-pills-border-radius: var(--bs-border-radius);
}

#but1, #but2, #but{
    border-style: unset;
    text-align: center;
    background-color: #eaeaea;
    border-radius: 20px;
    color: #486550;
}

/*#m-cont {width: 50%}*/

/*
.nav-pills .nav-item{
    width: 50%;
    margin: auto;
}
*/

.screen{
    height: 10vh;
}

.sign-in-form {
    /*background-color: #00eadf;*/
    width: 100%;

}

.super-shadow{
    /*
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
    */
    box-shadow: 0 10px 30px rgba(72, 101, 80, 0.9);

}







/*#m-cont{
    width: 80%;
    display: flex;
    background-color: #eaeaea;

    justify-content: space-between;
}
#m-cont button{

    width: 50%;
    margin: auto;
    justify-content: center;
    background-color: #72aaff;
}*/

/*.nav-pills li{
    padding: 5px 5px 5px;
}

.nav-item a{

    background-color: #dcdcdc;
    !*border: 1px solid black;*!

    text-align: center;
    width: fit-content;
}*/

/*
.nav-item a:hover{
    background-color: bisque;
}*/