.container {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 2.4fr 0.2fr 0.2fr; /* jak w home */
    grid-template-rows: 0.01fr 2.2fr 0.3fr;
    grid-template-areas:
    ". . Navigation . ."
    ". Area Area Area ."  /* lub zostaw środek szerszy */
    "footer footer footer footer footer";
    /* reszta bez zmian */
}

.Footer {
    grid-area: footer;
}

.Navigation {
    grid-area: Navigation;
}

.Area {
    grid-area: Area;
    /* Usuń wszystkie grid properties! */
    min-height: 82vh;
    margin-bottom: 40px;

}


