.container {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 2.4fr 0.2fr 0.2fr; /* jak w home */
    grid-template-rows: 0.3fr 2.2fr 0.3fr;
    grid-template-areas:
    ". . Navigation . ."
    ". Area Area Area ."  /* lub zostaw środek szerszy */
    "footer footer footer footer footer";
    /* reszta bez zmian */
}

.Footer {
    grid-area: footer;
}

.Navigation {
    grid-area: Navigation;
}

.Area {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "."
    "."
    "."
    ".";
    grid-area: Area;
    background-color: #9ac6c4;
    min-height: 82vh;
    margin-bottom: 40px;
}


