/*.navbar{
  height: 10%;
  width: 100%;
}*/
@font-face {
    font-family: 'HarlowSolidItalic';
    src: url('../../../assets/fonts/HARLOWSI.TTF') format('truetype');
}

.navbar{
    background-color: rgba(249, 250, 245, 0.94);
    width: 70%;
    min-height: 40px;
}




.navbar-name{

    font-weight: 500;

/*    height: 40px;*/
    text-decoration: none;
    color: #662222;
    text-shadow: 0 0 10px #eb8a8a;
    font-family: 'HarlowSolidItalic', cursive;
    font-size: 30px;
    white-space: nowrap;
}



.dropdown-menu{
    width: 100px;
}

.else:hover{box-shadow: 0 0 10px #eda1a1;background-color: #eda1a1;}


/*


.dropdown{
    box-shadow: 0 0 10px #eda1a1;background-color: #eda1a1;
}
*/

.else{



}

@media (max-width: 500px) {
    .navbar{
        width: 90%;
    }
}

@media (max-width: 340px) {
    .navbar{
        width: 100%;
    }
}