/* MainContent.css */
.main-content {
    position: relative;
    padding: 2rem;
    flex: 1;
}

.background-block {
    width: 600px;
    height: 300px;
    background-color: #f3f3d9;
    position: absolute;
    top: 4rem;
    left: 2rem;
    z-index: 0;
}

.headline {
    font-size: 4rem;
    font-weight: bold;
    z-index: 1;
    position: relative;
    line-height: 1.2;
    text-shadow: 2px 2px 2px #00000044;
}

.highlighted-word {
    background-color: #a94444;
    color: white;
    padding: 0.2rem 0.4rem;
}

.footer-block {
    margin-top: 4rem;
    width: 600px;
    height: 100px;
    background-color: #a94444;
}
