/* ===========================================
   NAWIGACJA
   =========================================== */
@font-face {
    font-family: 'HarlowSolidItalic';
    src: url('../../../public/HARLOWSI_1.TTF') format('truetype');
}
.navigation {
    grid-area: navigation;
    color: black;
    height: 70px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;

    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "minilogo menu-bttn login-bttn";
}

/* Mini logo w nawigacji */
.minilogo {
    grid-area: minilogo;
    text-align: left;
    padding-left: 100px;
}
.minilogo h4 {
    text-shadow: 0 0 10px #eb8a8a;
    font-family: 'HarlowSolidItalic', cursive;
    font-size: 30px;
}

/* Przyciski menu */
.menu-bttn {
    grid-area: menu-bttn;
    text-align: center;
    margin-right: 70px;
}

.menu-bttn ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    text-align: right;
    margin-left: 70px;
}

.menu-bttn button {
    border: none;
    background: transparent;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-bttn button:hover {
    background-color: #eda1a1;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 0 10px #662222;
    color: #662222;
}

/* Przycisk logowania */
.login-bttn {
    grid-area: login-bttn;
    text-align: right;
    gap: 10px;
}


.login-bttn button {
    border: none;
    background: black;
    color: white;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 8px;
}

.login-bttn button:hover {
    background-color: #353535;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 8px;
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

.login-bttn ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    align-items: end;
    margin-left: 70px;
}

/* ===========================================
   PRZEŁĄCZNIK TRYBU CIEMNEGO/JASNEGO
   =========================================== */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #71cbb5;
}

input:focus + .slider {
    box-shadow: 0 0 1px #71cbb5;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Zaokrąglone przełączniki */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}